@{
    ViewData["Title"] = "Dino";
}

    <div class="text-center">
        <p>See this fucking dino !</p>
        <img src="~/img/tyrannosaurus_T-Rex.jpg" alt="Image" />
    </div>
<input type="button" value="ROARRR" onclick="ROAR_Click" />

<a class="btn btn-primary" href="@Url.Action("ROAR","Dino")">ROAR</a>
